<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/"  title="点击退出，重新登录">住院信息管理系统</a></h1>
      <div class="row">
        <div class="col-md-3 text-center"><a href="/add">住院登记</a></div>
        <div class="col-md-3 text-center"><a href="/ysMsg">医生信息</a></div>
        <div class="col-md-3 text-center"><a href="/showCfmsg">处方信息</a></div>
        <div class="col-md-3 text-center"><a href="/del">出院手续</a></div>
      </div>
    </div>
    <h2 class="text-center">住院登记</h2>
    <form action="/add" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="form-group">
        <label for="br_no" class="col-md-4 control-label">病人ID</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="br_no" name="br_no" placeholder="输入病人ID(示例:'6XX')" required="required"  value="<%= br.br_no %>" readonly="readonly">
        </div>
      </div>
      <div class="form-group">
        <label for="br_name" class="col-md-4 control-label">姓名</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="br_name" name="br_name" placeholder="请输入姓名" required="required"  value="<%= br.br_name %>">
        </div>
      </div>
      <div class="form-group">
        <label for="gender" class="col-md-4 control-label">性别 </label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="gender" name="gender" placeholder="请输入性别" required="required"  value="<%= br.gender %>">
        </div>
      </div>
      <div class="form-group">
        <label for="age" class="col-md-4 control-label">年龄</label>
        <div class="col-md-6">
          <input type="text" name="age" class="form-control" id="age" placeholder="请输入年龄" onchange="if(!/(^0$)|(^100$)|(^\d{1,2}$)/.test(value)){value='';alert('输入格式不正确!');}" required="required" value="<%= br.age %>">
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-md-4 control-label">地址</label>
        <div class="col-md-6">
          <input type="text" name="address" class="form-control" id="adress" placeholder="请输入地址" required="required" value="<%= br.address %>">
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-md-4 control-label">电话</label>
        <div class="col-md-6">
          <input name="phone" type="text" class="form-control" id="phone" placeholder="请输入电话" required="required" value="<%= br.phone %>">
        </div>
      </div>
      <div class="form-group">
        <label for="zgys" class="col-md-4 control-label">主管医生</label>
        <div class="col-md-6">
          <input type="text" name="zgys" class="form-control" id="zgys" placeholder="主管医生" required="required" readonly="readonly" value="<%= br.zgys%>">
        </div>
      </div>
      <div class="form-group">
        <label for="bf_no" class="col-md-4 control-label">病房号</label>
        <div class="col-md-6">
          <input type="text" name="bf_no" class="form-control" id="bf_no" placeholder="请输入病房号(示例:'7XX')" required="required" readonly="readonly" value="<%= br.bf_no %>">
        </div>
      </div>
      <div class="form-group">
        <label for="zd" class="col-md-4 control-label">诊断</label>
        <div class="col-md-6">
          <input type="text" name="zd" class="form-control" id="zd" placeholder="请输入病情诊断" required="required" readonly="readonly" value="<%= br.zd %>">
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success">确认登记</button>
      </div>
    </form>
    <table class="table">
      <tbody id="tbody">
      </tbody>
    </table>
  </div>
  <script src="node_modules/art-template/dist/template.js"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
</body>

</html>
