<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/"  title="点击退出，重新登录">住院信息管理系统</a> <small>首页</small></h1>
      <div class="row">
        <div class="col-md-3 text-center"><a href="/add">住院登记</a></div>
        <div class="col-md-3 text-center"><a href="/ysMsg">医生信息</a></div>
        <div class="col-md-3 text-center"><a href="/showCfmsg">处方信息</a></div>
        <div class="col-md-3 text-center"><a href="/del">出院手续</a></div>
      </div>
    </div>
    <h3 class="text-center">XX医院住院部</h3>
  </div>
  <script src="node_modules/art-template/dist/template.js"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
    
</body>

</html>
