<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/"  title="点击退出，重新登录">住院信息管理系统</a><small style="float:right">欢迎<strong><%= name%></strong>医生</small></h1>
      <div class="row">
        <div class="col-md-3 text-center"><a href="/ys_add">病人登记</a></div>
        <div class="col-md-3 text-center"><a href="/ys_brMsg">病人信息</a></div>
        <div class="col-md-3 text-center"><a href="/ys_cfmsg">病人处方</a></div>
        <div class="col-md-3 text-center"><a href="/ys_del">出院手续</a></div>
      </div>
      <article id="content2">
        <div style="margin-bottom:10px">
            <input type="text" id="search_msg" name="search_msg" placeholder="输入病人姓名进行搜索"  />  
            <button onclick="loadData1()" style="float:right">显示所有</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>病人ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>住址</th>
                    <th>联系方式</th>
                    <th>主管医生</th>
                    <th>病房</th>
                    <th>病情诊断</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbody">
                
            </tbody>
        </table>
      </article>
      </div>
    </div>
  </div>
      <script type="text/template" id="tpl1">
        {{ each list as value index }}
        <tr>
          <td>{{index+1}}</td>
          <td>{{value.br_no}}</td>
          <td>{{value.br_name}}</td>
          <td>{{value.gender}}</td>
          <td>{{value.age}}</td>
          <td>{{value.address}}</td>
          <td>{{value.phone}}</td>
          <td>{{value.zgys}}</td>
          <td>{{value.bf_no}}</td>
          <td>{{value.zd}}</td>
          <td><a href="/edit?br_no={{value.br_no}}">修改</a></td>
        </tr>
        {{/each}}
      </script>
      <script src="node_modules/art-template/dist/template.js"></script>
      <script src="node_modules/jquery/dist/jquery.js"></script>
      <script>
        loadData1();
        function loadData1() {
          // 使用jquery的ajax
          $.ajax({
            url: '/showBrMsg',
            type: 'get',
            dataType: 'json',
            success: function(data) {
              console.log(data)
              $('#tbody').html(template('tpl1', data))
            }
          })
        }
        $('#search_msg').bind('input propertychange', throttle(function() {
              var msg = document.getElementById('search_msg').value;
              if(msg=="") {
                return loadData1();
              } else {  
                $.ajax({
                    url: '/searchBrMsg?name='+msg,
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                      console.log(data)
                      $('#tbody').html(template('tpl1', data))
                    }
                })
              }
        },1000));
        function throttle(fn, threshhold){
          var last;
          var timer;
          threshhold || (threshhold = 250);
          return function(){
            var context = this;
            var args = arguments;
            var now = +new Date();
            if(last && now < last + threshhold){
              clearTimeout(timer);
              timer = setTimeout(function(){
                last = now;
                fn.apply(context, args)
              }, threshhold)
            } else {
              last = now;
              fn.apply(context,args);
            }
          }
        }
      </script>
</body>

</html>
