<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/"  title="点击退出，重新登录">住院信息管理系统</a><small style="float:right">欢迎<strong><%= name%></strong>医生</small></h1>
      <div class="row">
        <div class="col-md-3 text-center"><a href="/ys_add">病人登记</a></div>
        <div class="col-md-3 text-center"><a href="/ys_brMsg">病人信息</a></div>
        <div class="col-md-3 text-center"><a href="/ys_cfmsg">病人处方</a></div>
        <div class="col-md-3 text-center"><a href="/ys_del">出院手续</a></div>
      </div>
    </div>
    <h4 class="text-center">请选择您的病人</h4>
    <div style="margin-bottom:10px" class="text-center">
          <select name="getbr_name" id="getbr_name" style="height:25px"></select>
          <button onclick="loadData1()">确定</button>
    </div>
    <div id="theform"></div>
  </div>
  <script type="text/template" id="tpl">
    {{ each list as value }}
    <option>{{value.br_name}}</option>
    {{/each}}
  </script>
  <script type="text/template" id="tp2">
    <form id="form" action="/ys_dodel?br_no={{list[0].br_no}}" method="post" name="form" enctype="multipart/form-data" class="form-horizontal"  >
      <div class="form-group">
        <label for="br_no" class="col-md-4 control-label">病人ID</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="br_no" name="br_no" placeholder="输入病人ID(示例:'6XX')" readonly="readonly" value={{list[0].br_no}} >
        </div>
      </div>
      <div class="form-group">
        <label for="br_name" class="col-md-4 control-label">姓名</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="br_name" name="br_name" placeholder="请输入姓名" readonly="readonly" value={{list[0].br_name}}>
        </div>
      </div>
      <div class="form-group">
        <label for="gender" class="col-md-4 control-label">性别 </label>
        <div class="col-md-6">
          <input type="text" class="form-control" readonly="readonly" name="gender" placeholder="请输入性别" value={{list[0].gender}}>
        </div>
      </div>
      <div class="form-group">
        <label for="age" class="col-md-4 control-label">年龄</label>
        <div class="col-md-6">
          <input type="text" name="age" class="form-control" id="age" placeholder="请输入年龄" onchange="if(!/(^0$)|(^100$)|(^\d{1,2}$)/.test(value)){value='';alert('输入格式不正确!');}" readonly="readonly" value={{list[0].age}}>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-md-4 control-label">住址</label>
        <div class="col-md-6">
          <input type="text" class="form-control" name="address" id="address" placeholder="请输入住址" value={{list[0].address}}>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-md-4 control-label">联系方式</label>
        <div class="col-md-6">
          <input type="text" class="form-control" name="phone" id="phone" placeholder="请输入联系方式" value={{list[0].phone}}>
        </div>
      </div>
      <div class="form-group">
        <label for="cf_content" class="col-md-4 control-label">处方药品</label>
        <div class="col-md-6">
          <input type="text" class="form-control" name="cf_content" id="cf_content" placeholder="请输入药品名" value={{list[0].cf_content}}>
        </div>
      </div>
      <div class="form-group">
        <label for="fee" class="col-md-4 control-label">费用 </label>
        <div class="col-md-6">
          <input type="text" class="form-control" name="fee" id="fee" placeholder="请输入费用" value={{list[0].fee}}>
        </div>
      </div>
      <div class="form-group">
        <label for="zd" class="col-md-4 control-label">诊断</label>
        <div class="col-md-6">
          <input type="text" class="form-control" name="zd" id="zd" placeholder="请输入诊断" value={{list[0].zd}} >
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success">确定出院</button>
      </div>
    </form>
  </script>
  <script src="node_modules/art-template/dist/template.js"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script>
    loadData()
    function loadData() {
      // 使用jquery的ajax
      $.ajax({
        url: '/getbr_name',
        type: 'get',
        dataType: 'json',
        success: function(data) {
          // console.log(data)
          $('#getbr_name').html(template('tpl', data))
        }
      })
    }
    function loadData1() {
      var thename = $('#getbr_name').find("option:selected").text();
      $.ajax({
        url: '/getbr_msg?name='+ thename,
        type: 'get',
        dataType: 'json',
        success: function(data) {
          $('#theform').html(template('tp2', data));
        }
      })
    }
  </script>
</body>
</html>
