<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/" title="点击退出，重新登录">住院信息管理系统</a><small style="float:right">欢迎<strong><%= name%></strong>医生</small></h1>
      <div class="row">
        <div class="col-md-3 text-center"><a href="/ys_add">病人登记</a></div>
        <div class="col-md-3 text-center"><a href="/ys_brMsg">病人信息</a></div>
        <div class="col-md-3 text-center"><a href="/ys_cfmsg">病人处方</a></div>
        <div class="col-md-3 text-center"><a href="/ys_del">出院手续</a></div>
      </div>
    </div>
  </div>
      <script src="node_modules/art-template/dist/template.js"></script>
      <script src="node_modules/jquery/dist/jquery.js"></script>
</body>

</html>
